@use 'variables';

.attraction {
    padding-top: 80px;
    padding-bottom: 80px;
    
    &__details {
        line-height: 20px;
    }

    &--about-hotel {
        background: linear-gradient(rgba(56,173,169, 1), rgba(56,173,169, .4)), url("../images/travel.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    &__image {
        width: 100%;
        height: 480px;
        border-radius: 6px;
    }

    .bg-section{
        background-color: #ffffff;
        border-radius: 6px;
        opacity: .6;
    }
}