@use 'variables';

.footer {
    background-color: #38ada9;
    color: variables.$textColor;
    padding: 16px;
    border-top: 2px solid #fff;

    @media (max-width: 768px){
        text-align: center;
    }
}